.Container {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: arial;
	font-size: 24px;
	background-image: url('../img/BgErrorPage.jpg');
	width: 100%;
	height: 90vh;
}
.ContainerBlock {
	width: 500px;
	height: 300px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.ContainerBlockText {
	margin-top: 2px;
	color: white;
}

.GoBack {
	margin-top: 30px;
	border: white 3px solid;
	padding: 20px;
	color: white;
}
