/* Блок для відображення матчів */
.MatchesBlock {
	width: 100%;
	height: 100%;
	background-color: #393e46;
	display: flex;
	justify-content: space-between;
}

/* Відображення країни в матчах */
.MatchesBlockCountry {
	margin: 10px 10px;
}

/* Блок команди в матчах */
.MatchesBlockTeam {
	width: 40%;
	position: relative;
	height: 160px;
}

/* Накладення напівпрозорого фону на блок команди */
.MatchesBlockTeam::before {
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.53);
}

/* Блок для другої команди з правим розташуванням */
.MatchesBlockAbsoluteTeam2 {
	flex-direction: row-reverse;
	background-repeat: no-repeat;
	background-position: center;
}

/* Абсолютно позиціонований блок для матчу */
.MatchesBlockAbsolute {
	height: 160px;
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
}

/* Текст команди в матчах */
.MatchesBlockTeamText {
	font-size: 22px;
	color: white;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

/* Логотип команди */
.MatchesBlockImgLogo {
	width: auto;
	height: 140px;
	margin-right: 10%;
	margin-left: 10%;
}

/* Коефіцієнт для ставок */
.MatchesBlockCoef {
	border-radius: 50%;
	background-color: #5f646d;
	position: absolute;
	width: 40px;
	height: 40px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

/* Позиція коефіцієнта для першої команди */
.MatchesBlockTeam1Coef {
	right: 25px;
}

/* Позиція коефіцієнта для другої команди */
.MatchesBlockTeam2Coef {
	left: 25px;
}

/* Блок країни для першої команди */
.Team1Country {
	width: 100px;
}

/* Центрування контенту в блоці матчів */
.MatchesBlockCenter {
	width: 20%;
	height: 100%;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 160px;
	color: white;
	line-height: 5px;
	margin: 0px;
	font-size: 18px;
}

/* Дата та час матчу */
.MatchesBlockVsDateTime {
	text-align: center;
	font-weight: 600;
}

/* Відображення "VS" в матчах */
.MatchesBlockVs {
	font-weight: 700;
}

/* Час матчу */
.MatchesBlockTime {
	font-weight: 700;
	font-size: 24px;
}

/* Блок для ставок */
.MatchesBlockStake {
	display: flex;
	width: 100%;
	height: 30px;
	background-color: #393e46;
	color: white;
}

/* Заголовок блоку */
.Title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/* Блок карти з градієнтом */
.MapBlock {
	width: 33%;
	height: 170px;
	background: linear-gradient(rgba(60, 62, 65, 0.856), rgba(58, 55, 55, 0.897)),
		url('../img/dota2_map.webp');
	background-repeat: no-repeat;
	background-position: center;
	color: white;
}

/* Блок для статистики */
.StatsBlock {
	width: 100%;
	display: flex;
}

/* Командний блок для статистики */
.StatsBlockTeam {
	width: 50%;
}

/* Основний контейнер для таблиці */
.table_component {
	width: 100%;
}

/* Стили для таблиці */
.table_component table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 1px;
	text-align: left;
}

/* Заголовок таблиці */
.table_component caption {
	caption-side: top;
	text-align: left;
}

/* Стили для заголовків таблиці */
.table_component th {
	color: white;
	padding: 5px;
}

/* Стили для клітинок таблиці */
.table_component td {
	color: white;
	padding: 5px;
}
