.GameBlockRoot {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}

.GameBlock {
	width: 210px;
	height: 380px;
}
.GamesImg {
	width: 210px;
	height: 290px;
}

.GameName {
	margin: 0px;
}

.GameDescription {
	color: #606060;
	font-family: 'Roboto', 'Arial', sans-serif;
	margin-top: 10px;
}
