/* Контейнер для блоку матчів */
.MatchesBlock {
    width: 90%;
    height: 100%;
    /* #393e46; */
    /*  rgb(63 63 70); */
    background-color: rgb(55 65 81);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
}

/* Країна матчів */
.MatchesBlockCountry {
    margin: 10px 10px;
}

/* Коефіцієнт ставки */
.MatchesBlockCoef {
    border-radius: 50%;
    /*  */
    background-color: rgb(107 114 128);
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Коефіцієнт для команди 1 */
.MatchesBlockTeam1Coef {
    right: 25px;
}

/* Коефіцієнт для команди 2 */
.MatchesBlockTeam2Coef {
    left: 25px;
}

/* Інформація про матч */
.MatchesBlockInfo {
    width: 100%;
    height: 120px;
    display: flex;
    padding-top: 10px;
}

/* Команда 1 */
.MatchesBlockTeam {
    width: 40%;
    position: relative;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
}

/* Команда 2 */
.MatchesBlockTeam2 {
	width: 35%;
	position: relative;
	height: 120px;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}

/* Зображення країни */
.MatchesBlockImgCountry {
    height: auto;
    width: 25px;
}

/* Логотип команди */
.MatchesBlockImgLogo {
    width: auto;
    height: 100px;
}

/* Центр блоку матчів */
.MatchesBlockCenter {
    width: 60%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    color: white;

    margin: 0px;
}

/* Дата та час матчу */
.MatchesBlockVsDateTime {
    text-align: center;
    line-height: 20px;
    font-weight: 600;
}

/* Порівняння команд */
.MatchesBlockVs {
    font-weight: 700;
}

/* Сторона блоку матчів */
.MatchesBlockSide {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    /* #545961 */
    background-color: rgb(107 114 128);
    padding-right: 10px;
    text-align: center;
    color: white;
    font-weight: 600;
}

/* Зображення для сторони 1 */
.MatchesSideBlockImg1 {
    margin: 0 30px;
}

.MatchesSideImg {
    width: auto;
    height: 28px;
}



/* Загальні стилі для мобільного */
@media (max-width: 720px) {
	.MatchesBlock {
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 15px;
		gap: 15px;
	}

	.MatchesBlockImgCountry,
    .MatchesBlockImgLogo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

	.MatchesBlockCoef p,
	.MatchesBlockVsDateTime,
	.MatchesBlockVs,
	.MatchesBlockPlace {
		font-size: 14px;
		text-align: center;
	}


	.MatchesSideText p {
		margin-right: 20px;
		font-size: 10px;
	}

    .MatchesBlockCountryLogoWrapper {
        flex-direction: column;  /* Змінюємо на вертикальне розташування */
        gap: 5px;  /* Відступ між зображеннями */
    }

    .MatchesBlockImgCountry {
        width: 20%;
        height: 80%;
    }

    .MatchesBlockImgLogo {
        width: 5rem;
        height: 5rem;
    }

	.MatchesBlockTeam1Coef,
	.MatchesBlockTeam2Coef {
		width: auto;
		height: auto;
		text-align: center;
	}


	.MatchesSideBlockImg1,
	.MatchesSideBlockImg {
		width: 24px;
		height: 24px;
	}

	.MatchesSideImg {
		height: 20px;
	}

	.MatchesBlockSide {
		margin-top: 20px;
		width: 200px;
		height: 60px;
	}
}

/* Середні екрани (планшети) */
@media (min-width: 720px) and (max-width: 1024px) {
	.MatchesBlock {
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 15px;
		gap: 15px;
	}

	.MatchesBlockImgCountry,
    .MatchesBlockImgLogo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

	.MatchesBlockCoef p,
	.MatchesBlockVsDateTime,
	.MatchesBlockVs,
	.MatchesBlockPlace {
		font-size: 14px;
		text-align: center;
	}


	.MatchesSideText p {
		margin-right: 20px;
		font-size: 10px;
	}

    .MatchesBlockCountryLogoWrapper {
        flex-direction: column;  /* Змінюємо на вертикальне розташування */
        gap: 5px;  /* Відступ між зображеннями */
    }

    .MatchesBlockImgCountry {
        width: 20%;
        height: 100%;
    }

    .MatchesBlockImgLogo {
        width: 8rem;
        height: 8rem;
    }

	.MatchesBlockTeam1Coef,
	.MatchesBlockTeam2Coef {
		width: auto;
		height: auto;
		text-align: center;
	}


	.MatchesSideBlockImg1,
	.MatchesSideBlockImg {
		width: 24px;
		height: 24px;
	}

	.MatchesSideImg {
		height: 20px;
	}

	.MatchesBlockSide {
		margin-top: 20px;
		width: 200px;
		height: 60px;
	}
}

/* Великі екрани (ноутбуки і вище) */
@media (min-width: 1024px) {
	.MatchesBlock {
		display: flex;
		flex-direction: row;
		max-width: 100%;
		padding: 20px;
		align-items: center;
		gap: 20px;
	}

	.MatchesBlockCoef p,
	.MatchesBlockVsDateTime,
	.MatchesBlockVs,
	.MatchesBlockPlace,
	.MatchesSideText p {
		font-size: 16px;
	}

	.MatchesBlockImgCountry {
		width: 24px;
		height: 24px;
	}

	.MatchesBlockImgLogo {
		width: 80px;
		height: 80px;
	}

	.MatchesBlockTeam1Coef,
	.MatchesBlockTeam2Coef {
		width: 20%;
		height: 20%;
	}

	.MatchesSideBlockImg1,
	.MatchesSideBlockImg {
		width: 30px;
		height: 30px;
	}

	.MatchesSideImg {
		height: 24px;
	}
}